snippet head "add header" A
\header{
	title = "$1"
	composer = "$2"
	tagline = "${3:###f}"
}
$0
endsnippet

snippet rela "use relative pitch" A
\relative$1{
	$2
}
endsnippet

snippet br "\break" A
\break
endsnippet

snippet key "调子" A
\key $1 ${2:minor | major}
endsnippet

snippet tempo "节拍速度" A 
\tempo ${1:4} = $2
endsnippet

snippet clef "谱号" A 
\clef "${1:soprano | alto | tenor | bass}"
endsnippet

snippet || "双小节线" A
\bar "||" 
endsnippet
